.continer {
    display: grid;
    grid-template-areas: 
    "header header"
    "nav main"
    "nav sidebar"
    "footer footer";
    grid-template-columns: 200px 1fr;
    grid-template-rows: 80px 1fr 100px 60px;
    gap: 10px;
    min-height: 100vh;
}
header {
    grid-area: header;
    background-color: #bc6c25;
    color: rgb(6, 6, 6);
    padding: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.go {
    background-color: #bc6c25;
    width: 100%;
    height: 30%;    
}
.gg {
    background-color: #bc6c25;
    margin-top: auto;
    width: 100%;
    height: 70%;
}
main {
    grid-area: main;
    background-color: #dda15e;
    color: rgb(11, 11, 11);
    padding: 20px;
}
aside {
    grid-area: sidebar;
    background-color: #dda15e;
    color: rgb(3, 3, 3);
    padding: 20px;
}
footer {
    grid-area: footer;
    background-color: #bc6c25;
    color: rgb(9, 9, 9);
    text-align: center;
    padding: 10px;
}
.logo {
    font-weight: bold;
}
.title {
    flex: 1;
    text-align: center;
}

/* For tablets and below */
@media (max-width: 900px) {
    .continer {
        width: 100%;
        padding: 10px;
    }
    main img {
        width: 100%;
        height: auto;
    }
    header, footer, aside, main {
        text-align: center;
    }
}

/* For mobile devices */
@media (max-width: 600px) {
    .continer {
        flex-direction: column;
    }
    nav.go, nav.gg {
        display: block;
        margin: 10px 0;
    }
    main img {
        width: 100%;
        height: auto;
    }
    aside {
        order: 3;
    }
}
